.productMainBody {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;

  .mainContent {
    padding: 0;
  }
}

.categoryHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.categoryTitle {
  text-align: center;
  margin: 20px 0;
}

.searchTop {
  position: relative;
  background: #ffffff;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  color: #252525;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
}

img {
  max-width: 100%;
}

.searchProductContent {
  position: relative;

  .productTile {
    .productSwatch {
      margin-top: 6px;
    }

    .productPrice {
      font-size: 14px;
      line-height: 18px;
      color: #757575;
    }

    .productImg {
      position: relative;
      margin-bottom: 8px;

      .imgLink {
        display: block;
        position: relative;
        width: 100%;
        max-width: 100%;

        .productBack {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.4s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          vertical-align: top;
          transition: opacity 0.4s ease-in-out;
        }
      }
    }
  }

  ul {
    li {
      list-style: none;
      display: inline-block;

      .swatch {
        display: block;
        width: 20px;
        height: 20px;
        margin: 2px;
        padding: 1px;
        border: 1px solid transparent;
        overflow: hidden;
      }
    }
  }

  #searchProductItems {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;

    .gridTile {
      .productSwatch {
        .swatchDeskTop {
          display: none;

          .swatchList {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

.filterBar {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;

  .filterBarSort {
    padding: 0;
    margin: 0;
  }
}

input [type=checkbox] {
  cursor: pointer;
}

input {
  cursor: text;
  height: 48px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: #252525;
  caret-color: #252525;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.selectStyle {
  overflow: hidden;
  height: 48px;
  display: block;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

select {
  width: inherit;
  height: 26px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border: 0;
  cursor: pointer;
  appearance: none;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
}

.filterBarRight {
  .filterText {
    display: inline-block;

    span {
      margin-right: 6px;
    }
  }

  .sortingIcon {
    float: right;
    position: absolute;
    display: block;
    width: 52px;
    height: 14px;
    cursor: pointer;
    top: -20px;
    right: 0;

    .sortingIconLeft {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 26px;
      left: 0;
      background: url(http://mfs.mark2win.com/static/media/three.6b8bc686.svg);
      background-size: 32px 50px;
    }

    .sortingIconRight {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 26px;
      left: auto;
      right: 0;
      background: url(http://mfs.mark2win.com/static/media/four.af207341.svg);
      background-size: 32px 50px;
    }
  }
}

.breadCrumbNav {
  display: none;
}

.breadCrumbNavEle {
  position: relative;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #252525;
  margin-right: 8px;
}

//Start media query
@media only screen and (min-width: 768px) {
  .productMainBody {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 576px) {
  .productMainBody {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .breadCrumbNav {
    display: flex;
    margin: 16px 0;
    opacity: 0.6;

    a {
      color: #252525;
      vertical-align: baseline;
      letter-spacing: -0.2px;

      #i {
        margin-bottom: 2px;
        vertical-align: middle;
        font-size: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }

  .productTile {
    padding: 0 15px 5% 15px;
    margin-bottom: 72px;
    max-height: 850px;
  }

  .searchProductContent {
    #searchProductItems {
      .gridTile2 {
        width: 33%;
        margin-bottom: 72px;
        text-align: left;

        .productSwatch {
          .swatchDeskTop {
            display: block;
          }
        }
      }

      .gridTile {
        width: 25%;
        margin-bottom: 72px;
        text-align: left;

        .productSwatch {
          .swatchDeskTop {
            display: block;
          }
        }
      }
    }
  }

  #searchProductItems {
    overflow: hidden;
  }

  h1 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -1px;
  }

  .searchTop {
    margin-bottom: 27px;
  }

  .displayHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .selectCheckbox {
    content: "";
    background: #ffffff;
    border: 2px solid #818181;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px
  }

  .selectBox {
    z-index: 1;
    position: absolute;
    top: 40px;
    min-width: 215px;
    max-height: 470px;
    margin: 0;
    overflow: auto;
    padding: 16px 0;
    border: 1px solid #ebebeb;
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);

    li {
      padding: 5px 10px;
      position: relative;
      overflow: hidden;
      line-height: 20px;
    }
  }

  .filterBar {
    margin-bottom: 25px;

    select {
      padding: 0 16px 0 10px;
    }

    label {
      display: inline-block;
      float: left;
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.2px;
    }

    .filterBarSort {
      margin: 16px 0;
    }

    .filterEle {
      cursor: pointer;
      margin-right: 24px;
      float: left;
      position: relative;
      display: flex;

      h3 {
        margin: 0 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        cursor: pointer;
        letter-spacing: -0.2px;

        span {
          margin-right: 10px;
        }
      }
    }
  }

  .filterBarLeft {
    display: flex;

    .filterBarMobile {
      display: none;
    }
  }

  .filterBarRight {
    display: flex;
    justify-content: space-around;
    float: right;
    max-width: 34%;
    position: absolute;
    margin: 16px 0;
    right: 0;
    top: 0;

    .sortingIcon {
      position: relative;
      top: 3px;
      height: 20px;
      width: 72px;
      margin-left: 20px;

      .sortingIconLeft {
        width: 32px;
        background-size: 32px 50px;
        background-position: 0;
        opacity: 1;
      }

      .sortingIconRight {
        width: 32px;
        background-size: 32px 50px;
        background-position: 0;
        opacity: 1;
      }
    }

    .filterText {
      float: left;
      margin: 0;
      padding: 0;
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.2px;
      border: none;
    }
  }
}

@media only screen and (max-width: 991px) {
  .filterBarRight {
    display: block;

    .filterText {
      display: block;
      margin: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d7d7d7;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .filterBarLeft {
    .filterBarSort {
      display: none;
    }

    .leftDeskTop {
      display: none;
    }
  }

  .filterBar {
    display: block;
    align-items: center;

    .filterMobileIcon {
      position: absolute;
      right: 16px;
      top: 24px;

    }

    .filterMobileText {
      cursor: pointer;
      margin-top: 12px;
      float: none;
      font-weight: 700;
      font-size: 16px;
      position: relative;
      background: none;
      height: inherit;
      padding: 0 0 0 15px;
    }

    .filterBarMobile {
      max-width: 100%;
      border: 1px solid #252525;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      display: flex;
      float: none;
      color: #121212;
      font-weight: 700;
      font-size: 14px;
      position: relative;
      background: none;
      padding: 10px 0 0 15px;
    }

    .filterBarMobileActive {
      background-color: #000000;
      color: #ffffff;
    }

    .allRefines {
      display: none;
      text-align: left;
      position: absolute;
      left: -1px;
      z-index: 1;
      top: 60px;
      color: black;
      background-color: #f5f5f5;
      width: 100%;

      ul {
        border-bottom: none;
      }
    }

    .allRefinesActive {
      display: block;
      width: 100%;
      background: #f5f5f5;
      position: absolute;
      left: -1px;
      z-index: 1;
      top: 60px;
      border: 1px solid #ebebeb;
      text-align: left;
      vertical-align: baseline;

      ul {
        top: -10px;
        margin: 0;
        padding: 0 11px;
        background-color: #ebebeb;
        color: #252525;

        li {
          list-style: none;
          padding: 5px 10px;
          overflow: hidden;
          line-height: 18px;
          position: relative;

          a {
            display: block;
            height: 100%;
            position: relative;
            padding-left: 32px;
            font-size: 16px;
            text-decoration: none;
            margin: 13px 0;

            &:before {
              content: "";
              position: absolute;
              background: #ffffff;
              border: 2px solid #818181;
              display: inline-block;
              vertical-align: text-bottom;
              width: 18px;
              height: 18px;
              left: 0;
            }
          }
        }
      }

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        position: relative;
        cursor: pointer;
        width: 95%;
        margin: 0 auto;
        padding-left: 10px;
        color: #252525;
      }
    }
  }

}